html,body
{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

p
{
    font-size: 20px;
}
div
{
    /* background: #E4F9F5; */
}

i
{
    border-radius: 50%;
}

body
{
    margin: 0px;
    text-align: center;
    height: 100vh;
    /* font-family: serif; */
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;  */
    font-family: 'Merriweather', serif; 
    width: 100%;
}

h1
{
    margin-top: 0%;
    margin-bottom: 0%;
    font-family:'Sacramento', cursive;
    /* line-height: 2; */
    /* margin: 50px; */
    /* color: #66BFBF; */
    /* font-size: 562.5%; equivalent to 90px */
    font-size: 5.625rem; /*rem. Parent size does not affect it */
    /* px is not dynamic. If we set font-size preference (from browser
    settings) to very small, then px will not change.
    But % or em will change.*/
}

h2
{
    font-family:  'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin: 0%;
    /* color: #66BFBF; */
    /* font-weight: normal; */
}
h3
{
    font-family: 'Montserrat'   ,sans-serif;
    color: #11999E;
    margin: 0;
    padding: 0%;
}

.top_container
{
    background-color: cadetblue;
    position: relative;
    /* overflow: auto; */
    padding-top: 100px;
    width: 100%;
}

.middle_container
{
    margin-top: 2rem;
}

.bottom_container
{
    width: 50%;
    margin: 0 auto;
    /* display: inline-block; */
}

.bottom-cloud
{
    position: absolute;
    left: 300px;
    right: 300px;
}

.top-cloud
{
    position: absolute;
    right:300px;
    top:50px;
}


.profile_image
{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.footer-link
{
    color: #11999E;
}


.linkedin-img
{
    background: url('../images/Linkedin_logo_black_and_white.png') no-repeat;
    background-size: 100%;
    width: 5vw;   
    height: 5vw;
    min-height: 50px;
    min-width: 50px;
    display: inline-block;
    margin: 2rem;
}

.linkedin-img:hover
{
    background: url('../images/Linkedin_logo_colored.png') no-repeat; 
    background-size: 100%;
    min-height: 50px;
    min-width: 50px;
    width: 5vw;   
    height:5vw;
    display: inline-block;
    cursor: pointer;
}

.gmail-img
{
    background: url('../images/Gmail_logo_black_and_white.png')no-repeat;
    background-size: 100%;
    width: 6vw;   
    height: 6vw;
    min-height: 50px;
    min-width: 50px;
    display: inline-block;
    margin: 2rem;
}
.gmail-img:hover
{
    background: url('../images/Gmail_logo_colored.png') no-repeat;
    background-size: 100%;
    width: 6vw;   
    height:6vw;
    min-height: 50px;
    min-width: 50px;
    display: inline-block;
    cursor: pointer;
}
.facebook-img
{
    background: url('../images/Facebook_logo_black_and_white.png') no-repeat;
    background-size: 100%;
    width: 5vw;   
    height:5vw;
    min-height: 50px;
    min-width: 50px;
    display: inline-block;
    margin: 2rem;
}
.facebook-img:hover
{
    background: url('../images/Facebook_logo_colored.png') no-repeat;
    background-size: 100%;
    width: 5vw;   
    height: 5vw;
    min-height: 50px;
    min-width: 50px;
    display: inline-block;  
    cursor: pointer;
}  
hr
{
    margin:2rem;
}

.heading_of_middle_container
{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.content-skill
{
    overflow: auto;
    position: relative;
    display: inline-block;
    width: 70%;
    padding-left: 5vw;
    /* margin-left: 10%; */
    /* float: right; */
    text-align: left;
}

.one-skill
{
    display: flex;
    text-align: center;
    margin-top: 5rem;  
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    /* padding: auto 0 auto 0;  */
    /* margin: auto 0 auto 0; */
}

@media screen and (max-width: 531px) {
    .one-skill { display: flex; flex-flow: column;
    text-align: center; }
    .img_cont
    {
        margin: 0 auto 0 auto;
    }
    .content-skill
    {
        margin: 0 auto 0 auto;
    }
}

.img_cont
{
    width: 240px;
    height: 200px;
    overflow: auto;
    position: relative;

}

.mountain-img
{
    width: 100%;
}
